*{
    border: solid 0.1px red;
}

/* main{
    display: flex;
    align-items: flex-start;
} */

.card{
    /* display: inline; */
    /* width: 200px; */
    /* height: 100px;
    gap: 15px; */
    display: inline-block;
    width: 100%;
}

.logo{
    width: 84px;
    height: 42px;
}

button{
    position: relative;
    float: right;
    width: 143px;
    height: 36px;
}

.price{
    width: 100%;
    position: relative;
    text-align: left;
}