* {
  border: solid 0.1px red;
}
.card {
  /* display: flex;
  flex-direction: row; */
  height: 60px;
  align-items: center;
}

#logo_1 {
  background-image: url("https://picsum.photos/id/231/200/300");
}

#logo_2 {
  background-image: url("https://picsum.photos/id/232/200/300");
}

#logo_3 {
  background-image: url("https://picsum.photos/id/233/200/300");
}

#logo_4 {
  background-image: url("https://picsum.photos/id/234/200/300");
}

#logo_5 {
  background-image: url("https://picsum.photos/id/235/200/300");
}

#logo_1,
#logo_2,
#logo_3,
#logo_4,
#logo_5 {
  /* position: absolute; */
  width: 84px;
  height: 42px;
  margin: 20px 20px 20px 0pc;
  /* left: 80px; */
}

.price {
  width: 100%;
}

div.price {
  text-align: end;
}

.number {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -0.92px;
  margin: 20px;
  color: #525252;
}

/* .read_more {
  margin: 0;
} */

.checked {
  color: orange;
}

.stars{
  /* position: absolute;
  left: 190px; */
  /* display: flex;
  justify-content: space-around; */
  margin-right: 20px;
}

.read_more{
  /* position: absolute;
  left: 300px; */
}

.read_more_text{
  width: 100px;
  margin: 0;
}