* {
  border: solid 0.1px red;
}
.card {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
}

#logo_1 {
  background-image: url("https://picsum.photos/id/231/200/300");
}

#logo_2 {
  background-image: url("https://picsum.photos/id/232/200/300");
}

#logo_3 {
  background-image: url("https://picsum.photos/id/233/200/300");
}

#logo_4 {
  background-image: url("https://picsum.photos/id/234/200/300");
}

#logo_5 {
  background-image: url("https://picsum.photos/id/235/200/300");
}

#logo_1, #logo_2, #logo_3, #logo_4, #logo_5 {
  width: 84px;
  height: 42px;
  margin: 20px 20px 20px 0pc;
}

/* 
.price_button {
  position: relative;
  float: right;
}

button {
  width: 143px;
  height: 36px;
} */

.price {
  width: 100%;
}

div.price {
  text-align: end;
}
/*
.number {
  position: relative;
  width: 12px;
  height: 26px;
  left: 21px;
  top: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -0.92px;
  color: #525252;
}

.stars {
  position: relative;
  width: 11px;
  height: 11px;
  left: 189px;
  top: 25px;
}

.checked {
  color: orange;
} */

.number {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -0.92px;
  margin: 20px;
  color: #525252;
}

.read_more{
  margin: 0;
}